.tab-form {
	width:50%;
	display: inline;
	float: right;
	margin-right: 25%;
}
.form-group label{
	margin-top: 5px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #c47b7b;
	color: white;
}
#cards {
	width: 150px;
}
#month {
	display: inline;
	width:30%;
}
#year {
	display: inline;
	margin-left: 10px;
	width:50%;
}
#city, #zip, #state, #country {
	margin-right: 0px;
}
#country {width:70%;}
.table-container {
	overflow-y: scroll;
	height: 200px;
}
#id-add {
	margin-top: 20px;
}
#id-add input {
	width:30%;
}
body > div > ul > li > a {
	color:#c47b7b;
}
.nav-tabs {
	border-bottom:1px solid black;
}
#home, #menu1 {
	border:1px solid #c47b7b;
}
.content-tabs {
	margin-left: 10px;
	margin-right: 10px;
}
#new-user-form {
	margin-top: -10px;
}
#id-add {
	display: inline;
}
.btn:not('#btn-switch-1'):not('#btn-switch-2') {
	background-color: white;
	border: 2px solid #c47b7b !important;
	color: #c47b7b !important;
}
.btn:hover:not('#btn-switch-1'):not('#btn-switch-2') {
	background-color: #e5e5e5;
	border: 2px solid #c47b7b !important;
	color: #c47b7b !important;
}

.btn:focus:not('#btn-switch-1'):not('#btn-switch-2') {
	background-color: #e5e5e5;
	border: 2px solid #c47b7b !important;
	color: #c47b7b !important;
}
.btn:active:not('#btn-switch-1'):not('#btn-switch-2') {
	background-color: white !important;
	border: 2px solid #c47b7b !important;
	color: #c47b7b !important;
}