body {
	font-family: FontAwesome, lato;
	overflow-x: hidden;
	overflow-y: scroll;
}
.page_title {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
	left:35%;
	padding-top: 5px;
	position: absolute;
}

.heirarch-box-group {
	font-size: 20px;
}
.checkbox-popover
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  float: right;
}
.cate-name-pop {
	height:175px;
}
#save-btn-pop {
	z-index: 1050 !important;
	pointer-events:auto;
}
.popover-title > center {
	width: 80%;
    margin-left: 10%;
}
 @media only screen and (min-width : 800px) {
	.popover {
		min-width: 500px;
		min-height: 150px;
	}
}
.submit-btn {
  background-color: white;
  border: 2px solid #c47b7b !important;
  color: #c47b7b !important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #ffdb99;
}
.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #fff0d6;
}

.btn:not('#btn-switch-1'):not('#btn-switch-2') {
	background-color: white;
	border: 2px solid #c47b7b !important;
	color: #c47b7b !important;
}
.btn:hover:not('#btn-switch-1'):not('#btn-switch-2') {
	background-color: #e5e5e5;
	border: 2px solid #c47b7b !important;
	color: #c47b7b !important;
}

.btn:focus:not('#btn-switch-1'):not('#btn-switch-2') {
	background-color: #e5e5e5;
	border: 2px solid #c47b7b !important;
	color: #c47b7b !important;
}
.btn:active:not('#btn-switch-1'):not('#btn-switch-2') {
	background-color: white !important;
	border: 2px solid #c47b7b !important;
	color: #c47b7b !important;
}
.navbar-left{
	list-style: none;
	float: left;
}
#wrapper > nav > div.collapse.navbar-collapse.navbar-ex1-collapse {
	background-color: white;
}
.top-nav>li>a {
	padding-top: 5px;
}
#wrapper > nav {
	border-bottom: 5px solid #e0e0e0;
	background-color: white;
}
ul {
	list-style: none;
}
.fa {
	color:#c47b7b !important;
	font-family: FontAwesome, Lato !important;
}
.sidebar-link .fa,.panel-arrow .fa {
	color:gray !important;
	
}

#accordion > div > div.panel-heading > h4 {
	text-align: center; 
}
.navbar-left {
	padding: 0px 10px;
}
.modal {
	z-index: 1050;
}
.popover {
	z-index: 100;
}
img {
	vertical-align:initial !important;
}
.page_title:hover {
	text-decoration: none;
	color:black;
}
.state-icon {
    left: -5px;
}

.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}


 	.page_title {
 		display: none;
 	}
 	.navbar-right {
float: :right !important;
    position: fixed;
    right: 0;
    margin: 0;
    padding: 0;

 	}
 	nav {
 		font-size: 12px !important;
 	}
 	.top-nav>li>a {
 		padding-top: 5px;
 	}
 	.navbar-left > .option-btn {
 		position: fixed !important;
 		right:0;
 		top:0;
 	}
 	.top-nav {
 		padding-bottom: 20px;
 	}
}
@media only screen and (max-width : 320px) {
    .page_title {
 		display: none;
 	}
 	.navbar-right {

    position: fixed !important;
    right: 0;
    margin: 0;
    padding: 0;

 	}
 	nav {
 		font-size: 10px !important;
 	}
 	.top-nav>li>a {
 		padding-top: 5px;
 	}
 	.navbar-left > .option-btn {
 		position: fixed !important;
 		right:0;
 		top:0;
 	}
 	.top-nav {
 		padding-bottom: 20px;
 	}
 }

.no-hover:hover {
	background-color: white !important;
}
.side-nav {
	background: white;
	border-right: 5px solid #e0e0e0;
	top:37px;
	margin-top: 22px !important;
}
.popover {
    z-index: 1030; /* A value higher than 1010 that solves the problem */
}
.panel {
	font-weight: bold;
}
#structure-group > ul > li {
	background-color: #ffffff;
	border-bottom: 3px solid #f6f6f6;
	padding: 10px;
	color:black;
}
#structure-group > ul > li:hover {
	background-color: #d9d9d9;
	border-bottom: 3px solid #f6f6f6;
}
.sidebar-links {
	color:black;
}
/* Font Awesome Stuff */
.navbar-left > li {
    display: inline-block;
    clear: all;
    text-align: center;
    padding-right: 20px; 
}
ul.navbar-left > li > a > i {
	padding-right:20px;
	margin-top: 7px;
}


.navbar-left li a {
    font-size: 40px;
    color: black;
    clear: both;
    margin: 0;
    height: 55px;
    width: 50px;
    display: block;
    padding-top: 0px;
}

.navbar-right li a i.fa {
	font-size: 40px;
}


/* Range Slider Stuff */
@charset "UTF-8";
input[type='range'] {
  display: block;
  margin: 1em auto;
  border: solid 0 transparent;
  border-width: 0 1em;
  padding: 0;
  height: 4em;
  border-radius: .25em;
  background: transparent;
  font-size: 1em;
  cursor: pointer;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  position: relative;
}
input[type='range']::-ms-track {
  border: none;
  color: transparent;
}
input[type='range']::-webkit-slider-thumb {
  border: none;
  border-radius: 50%;
  cursor: ew-resize;
}
input[type='range']::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  cursor: ew-resize;
}
input[type='range']::-ms-thumb {
  border: none;
  border-radius: 50%;
  cursor: ew-resize;
}

input[type='range']:nth-of-type(2) {
  overflow: hidden;
  width: 20em;
}
input[type='range']:nth-of-type(2)::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 100%;
  height: 0.375em;
  border-radius: 0.1875em;
  box-shadow: inset 0 0 0 1px #ccc;
  background: transparent;
}

.js input[type='range']:nth-of-type(2)::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: solid 1px transparent;
  box-shadow: none;

}
input[type='range']:nth-of-type(2)::-moz-range-track {
  box-sizing: border-box;
  width: 20em;
  height: 0.375em;
  border-radius: 0.1875em;
  box-shadow: inset 0 0 0 1px #ccc;
  background: transparent;
}
input[type='range']:nth-of-type(2)::-ms-track {
  box-sizing: border-box;
  width: 20em;
  height: 0.375em;
  border-radius: 0.1875em;
  box-shadow: inset 0 0 0 1px #ccc;
  background: transparent;
}
input[type='range']:nth-of-type(2)::-moz-range-progress {
  box-sizing: border-box;
  border: solid 1px #fff;
  height: 0.375em;
  border-radius: 0.1875em;
}
input[type='range']:nth-of-type(2)::-ms-fill-lower {
  box-sizing: border-box;
  border: solid 1px #fff;
  height: 0.375em;
  border-radius: 0.1875em;
}
input[type='range']:nth-of-type(2)::-webkit-slider-thumb {
  margin-top: -0.25em;
  width: 1em;
  height: 1em;
  background: #4ed5e9;
}
.js input[type='range']:nth-of-type(2)::-webkit-slider-thumb {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: none;
}
input[type='range']:nth-of-type(2)::-moz-range-thumb {
  width: 0.625em;
  height: 0.625em;
  background: #4ed5e9;
}
input[type='range']:nth-of-type(2)::-ms-thumb {
  width: 0.625em;
  height: 0.625em;
  background: #4ed5e9;
}
