#accordionfold > div > div.panel-heading {
    background-color: white !important;
}
.side-nav {
    background: white;
    border-right: 5px solid #e0e0e0;
    top:50px !important;
    display: none;
    margin-top: 33px !important;
}
.full-height {
    height: 100% !important;
    position: absolute !important;
    top: -20px !important;
    z-index: 500 !important;
    margin-top:-20px;
}
.sidebar-trig {
    width: 250px !important;
    display: none !important;
}
.check-group {
	padding-top: 15px;
	padding-left: 10px;
	font-size: 11px;
	padding-bottom: 10px;
	border-bottom: solid black 1px;
	border-top: solid black 1px;
}
.check-group:nth-child(1) {
	border-top: none;
}
.check-group:nth-last-child() {
	border-top: none;
}

.custom-panel-title {
    max-width: 150px;
}

.accord-form {
	padding: 10px;
	font-weight: normal;
	font-size: 11px;
}
#collapse2 > div > ul > li > span > a:hover {
	background-color: transparent !important;
}
.side-nav li a:hover, .side-nav li a:focus {
	background-color: transparent !important;
}
a:hover {
	text-decoration: none;
	background-color:transparent !important;
}
#full-page {
	padding: 0px !important;
}
#wrapper > nav > ul.nav.navbar-right.top-nav > li.new-btn > a {
	right:75px;
}
.panel-heading {
	color:;
}
.new-btn-r {
	padding-right: 10px !important;
}
ul.navbar-right {
	margin-top: 10px;
}
ul.navbar-right > li > a > i::not('.new-btn-r') {
	padding:5px 0px 0px 0px !important;
	margin-left: -20px;
}
@media only screen and (max-width : 768px) {
	#back-to-org > center > a, #wrapper > nav > ul > li > a {
		font-size:15px !important;
		line-height: initial;
	}
	#back-to-org {
		padding-top:16px;
	}
	#back-to-org > center {
		padding-top-top: 7px !important;
	}
}
#back-to-org {
	padding: 10px;
	background-color: #f5f5f5 !important;
}
#back-to-org > center > a {
	color:#c47b7b;
	text-decoration: none;
	font-size: 20px;
	margin-top:20px; 


	transition: transform .5s ease-in-out;
}
.graph-lab {
	font-size: 17px !important;
}
#back-to-org > center > a:hover {
	text-decoration: none;
}

@media only screen and (max-width : 321px) {

	#back-to-org > center > a, #wrapper > nav > ul > li > a {
		font-size:12px !important;
		line-height: initial;
	}
	#back-to-org {
		padding-top:16px;
	}
	#back-to-org > center {
		padding-top: 1px !important;
	}

}

#wrapper > nav > ul.navbar-left > li:nth-child(2) > a  {
	margin-left: 50px;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:75px;
   width:100%;
   background-color: #ad383a !important;
   color:white;
   z-index:550;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

#wrapper > nav > ul.nav.navbar-right.top-nav > li:nth-child(4) > a {
	position: fixed;
	top:7px;
	right:20px;
}
.navbar-right li a {
    font-size: 40px;
    color: black;
    clear: both;
    margin: 0;
    height: 55px;
    width: 50px;
    display: block;
    padding-top: 0px;
}

#menu-toggle-li {
    display: none;
}

#accordion10 .panel-heading {
    background-color: white !important; 
    color:black;
    padding: 0px;
}


@media only screen and (max-width : 800px) {
	.sidebar-trig {
    	display: initial;
        width: 100% !important;
        margin-left: 1px !important;
        top:80px !important;
    }
    #menu-toggle-li {
        display: block;
    }
    .navbar-left {
        margin-left:0px !important;
    }
    #wrapper > nav > ul.nav.navbar-right.top-nav > li:nth-child(4) > a {
		position: fixed;
		top:12px;
		right:20px;
	}
    #back-btn {
    	font-size: 15px;margin-top: 6px;position: fixed;
    }
	.side-nav {
		background: white;
		border-right: 5px solid #e0e0e0;
		width: 100%;
		position: fixed;
		top:100px !important;
	}
}
@media only screen and (max-width : 801px) {
	#full-page {
	    margin-left: 0px !important;
	}
}
@media only screen and (max-width : 800px) {

	.popover {
	    z-index: 1040; /* A value higher than 1010 that solves the problem */
	    width:initial !important;
	    max-width: inherit !important;
	}
	.heirarch-box-group label {
		font-size: 12px !important;
		padding-right: 50px;
	}
	.sidebar-trig {
    	display: initial;
    	margin-top: 30px;
	}
	#wrapper > nav > ul.navbar-left > li:nth-child(5) > a > i {
		padding-top: 5px !important;

	}
	.fa {
		font-size:30px !important;
	}
	.new-btn {
		padding-right: 0px !important;
	}
	#full-page.toggled {
		display: none;
	}
	.side-nav {
		background: white;
		border-right: 5px solid #e0e0e0;
		top:0;
		margin-top: 33px !important;
	}
}
#full-page {

    margin-left: -200px;

}
#full-page.toggled {
	
    margin-left: 50px;

}
.popover {
	z-index: 1050 !important;
	min-width: 100px !important;
}
.color-pop {
	width: 175px !important;
}
.share-pop {
	font-size: 15px;
}
.color-splotch, .color-splotch-pop {
	width: 20px;
	height: 20px;
	background-color:#424242;
}
.color-splotch-pop {
	margin-top: 10px;
	width: 30px;
	height: 30px;
}
#collapse400 .accord-form {
	font-size: 15px;
}

.checkbox-arc {
	padding: 5px;
}
#structure-group > ul > li {
	background-color: #ad383a !important;
	color:white !important;
}
.panel-heading {
	background-color: #ad383a !important;
	color:white;
	font-size: 12px;
}
#accordion > div > div.panel-heading > h4 > a:hover {
	text-decoration: none;
	color: white;
}
#collapse2 > div > div > input[type="text"] {
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}
.search-panel {
	background-color: #c9c9ce;
}
.folder-icon {
	padding-left: 10px;
	font-size:15px;
	vertical-align: middle;
}
#toggle_event_editing {
	margin-top: 20px;
	margin-bottom: 20px;
}
.folder-li:hover {
	background-color: #d9d9d9;
}
.folder-li {
	border-bottom: 2px solid #f4f4f5;
	padding: 10px;
	width: 100%;
	font-family: FontAwesome, "Lato", Verdana, sans-serif;
}
.folder-list {
	padding-left: 0px;
}
#collapse3 h4 {
    margin-bottom: -10px !important;

}
#collapse3 input[type='range'] {
    margin: auto !important;
    display: inline;
}
.navbar-left {
    margin-left:250px;
}
.triggered {
    margin-left: 0px;
}
.popover {
    z-index: 1040; /* A value higher than 1010 that solves the problem */
    max-width: none;
    width:500px;
}
.side-nav {
	overflow-x:visible !important;
}
.search-panel ::-webkit-input-placeholder {
   text-align: center;
}

.search-panel :-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

.search-panel ::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

.search-panel :-ms-input-placeholder {  
   text-align: center; 
}

.search-panel  {
	font-family: FontAwesome, "Lato", Verdana, sans-serif;
	padding: 5px;
}
.folder-icon-actions {
	float: right;
	vertical-align: middle;
}
.panel+.panel {
	margin-top: 0px !important;
}
	
.side-nav {
	width: 300px;
}
.panel-head > span > a {
	color:#c47b7b !important;
	padding-right: 10px;
}
.panel-head {
	width: 100%;
	background-color: #e5e5e5;
	color:black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight:normal; 
}
.panel-body {
	padding: 0;
}
.search-btn, .help-btn {
	margin-top: -10px;
}
.side-nav, #full-page {
	margin-top: 35px !important;
}
.page_title {
	left:45% !important;
}
.share-form {
	font-size: 20px !important;
	border-bottom: solid #424242 1px;
	padding-top: 10px;
	padding-bottom:5px; 
}
.share-form:nth-last-child(1) {
	border-bottom: none;
}
.share-form i {
	padding-right: 15px;
}
/* adjusting slider */

.quarter-label {
    top:20px;
}

.rz-active:after {
    background-color: white !important;
}

.rz-pointer-custom {
    background-color: #dfdfdf !important;
}

.rz-tick-custom-monthly,
.rz-tick-custom {
    width: 4px;
    height: 10px;
    background: #d8e0f3;
}

.rz-bar.rz-selection {
    background-color: #9f9f9f !important;
}
.rz-tick-custom-monthly:nth-child(12n+1),
.rz-tick-custom:nth-child(4n+1) {
    width: 4px;
    margin-top: -5px;
    height: 20px;
    background: #d8e0f3;
}

.rz-tick-custom.rz-selected,
.rz-tick-custom-monthly.rz-selected,
.rz-tick-custom.rz-selected {
    background: #9f9f9f;
}

/* adjusting slider */

.fa-filter:before {
    color: white;
    font-size: 25px;
}

/* changing angular-bootstrap */

.popover {
    max-width: 800px; /* optional max width */
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}

.filter-pop {
    color: black;
}

/* changing angular-bootstrap */

.item-list-item {
    padding-left: 40px;
    border-bottom: 1px solid #afafaf;
}

.color-select-button {
    width: 80px;
    border: 0px;
    height: 25px;
}

.items-group-title {
    margin: 0px;
}
.items-group-title a {
    position: relative;
    padding-left: 20px; 
    font-size: 18px;
}

.items-group-title a:before {
    content: '';
    background-image: url(../image/collapsed-open.png);
    background-size: contain;
    background-repeat: no-repeat;

    top: 5px;
    width: 15px;
    height: 15px;
    color: #ad383a;
    position: absolute;
    left: 0px;
}

.items-group-title a.collapsed:before {
    content: '';
    background-image: url(../image/collapsed-closed.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    color: #ad383a;
    width: 15px;
    height: 15px;
    left: 0px;
}

.items-group-title input{
    position: absolute;
    right: 10px;
    padding: 10px;
}

/* BUTTS */
.reset-this {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}