a.right {
	float:right;
	position: relative;
	margin-top: -5px;
}
* {
backface-visibility: hidden;
}
.sidebar-trig {
    width: 100% !important;
    display: initial !important;
    z-index: 1050;
    height: 100% !important;
    position: fixed;
    top:0px;
    left:15px;
}

#page-wrapper {
	padding-bottom: 0px;
}
#cate-table > tbody > tr > td:nth-child(2) {
	padding-top: 10px;
}
#structure  {
	margin-left:20px;
	margin-right:20px;
}
.side-nav, #full-page {
	margin-top: 25px;
}
.edit-assoc-popover {
	min-height: 600px !important;
}
#concept-art-li {
		margin-top: 10px !important;
	}
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}
#back-to-org {
	padding-top:10px;
	
}
#navbar-right-container {
		float: right !important;
	}
#wrapper > nav {
		width:100%;
		height:60px;
		background-color: white;
	}

@media only screen and (max-width : 768px) {
	#back-to-org > center > a, #wrapper > nav > ul > li > a {
		font-size:15px !important;
		line-height: initial;
	}
	 #wrapper > nav > ul > li > a > .fa {
		font-size:30px !important;
		
	}
	#concept-art-li {
	margin-top: 10px !important;
}
	#back-to-org {
	padding-top:16px;
	
}
	#wrapper > nav {
		width:100%;
		height:60px;
		background-color: white;
	}
	#wrapper > nav > ul:after {
		clear: none;
	}
	.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
	    display: initial;

	}
	.popover {
		margin-left: 10px;
	}
	#wrapper > nav > ul {
		position: fixed;
		right:0;

	}
	.concept-map {
		padding-right: 10px !important;
		padding-top:10px !important;
		margin-top:0 !important;
		right:5%;

		position: fixed !important;
	}
	#wrapper > nav > ul {
		padding-top: 5px;
	}
	.side-nav {
		display: none;
	}
	#back-to-org > center {
		padding-top-top: 7px !important;
	}
}
.navbar-right > *{
	color:#c47b7b !important;
	right:0px;
	font-size:18px;
	position: fixed;
}


.concept-map:hover {
	border:none;
	color:#c47b7b !important;
	background-color:transparent !important;
}
.side-nav li a:hover {
	background-color: white !important;
}
#back-to-org > center > a {
	color:#c47b7b;
	text-decoration: none;
	font-size: 20px;
	margin-left: 10px;
	margin-top:20px; 

	transition: transform .5s ease-in-out;
}
.no-hover:hover {
	background-color:transparent !important;
}
.top-nav>li>a {
	color:#c47b7b;
}

#back-to-org > center > a:hover {
	text-decoration: none;
}
#structure-group > ul > li > center > a {
	padding: 20px;
}
.struc-btn {
	margin-top: 15px;
	width: 95%;
	transition: transform .2s ease-in-out;
}
#choose-struc {
		display: none;
	}
@media only screen and (min-width : 992px) {
	.struc-btn:hover {
		transform: translate3d(20px, 0px, 0px);
	}
	.list-group-item:hover {
		transform: translate3d(20px, 0px, 0px);
	}
}
@media only screen and (min-width : 800px) {
	.side-nav {
		display: initial !important;
	}
	
}

  @media only screen and (max-width : 765px) {  
  	.side-nav {
		display: none !important;
	}
	#choose-struc {
		display: block;
	}
	#structure-group > ul {
		width:100% !important;
		height: 80% !important;
	}
	.no-hover {
		visibility: hidden;
	}
}
@media only screen and (max-width : 321px) {

	#back-to-org > center > a, #wrapper > nav > ul > li > a {
		font-size:12px !important;
		line-height: initial;
	}
	 #wrapper > nav > ul > li > a > .fa {
		font-size:20px !important;
		
	}
	.panel-footer > .btn {
		padding: 5px !important;
	}
	#back-to-org {
	padding-top:16px;
	}
	.popover-cate {
		height:100px !important;
	}
	#wrapper > nav {
		width:100%;
		height:60px;
		background-color: white;
	}
	#wrapper > nav > ul:after {
		clear: none;
	}
	.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
	    display: initial;

	}
	.popover {
		margin-left: 10px;
	}
	#wrapper > nav > ul {
		position: fixed;
		right:0;

	}

	#wrapper > nav > ul {
		padding-top: 5px;
	}
	.side-nav {
		display: none;
	}
	#back-to-org > center {
		padding-top: 1px !important;
	}
	#concept-art-li {
		margin-top: 10px !important;
		font-size:12px;
	}

	.navbar-right li a i.fa {
		padding-top: 10px;
		font-size: 20px !important;

	}

}
.side-nav, #full-page {
	margin-top: 20px;
}

.heading {
	width: 100%;
	padding:20px;
	margin:0;
	background-color: #424242;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	margin-bottom: 10px;
}
#business-context-heading {
	background-color: #910203 !important;
	border-radius: 0;
	margin-left:0;
}
.list-group-item {
	transition: transform .2s ease-in-out;
}
.list-group-item:hover {
	background-color: #e9e9e9;

}


@-webkit-keyframes slide {
    100% { left: 50px; }
}

@keyframes slide {
    100% { left: 50px; }
}

.panel-arrow > i{
	color:#ceced1;
	font-weight: normal !important;
}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
	background-color: transparent !important;
	color:#b06e6e !important;
}
.panel-arrow:hover {
	text-decoration: none;
	cursor: default;
	color: black;
}
#success {
	margin-top: 20px;
}
.popover {
	overflow-y: hidden;
	height: 350px;
}
