body {
	overflow:scroll !important;
}
a {
	color:black;
}
a:hover {
	text-decoration: none;
	color:black;
	background-color:transparent !important;
}
#wrapper {
	padding:0;
	width: 100%;
}
#orgs {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.org-created {
	font-size: 15px;
	clear:both; display:block;
	padding-top: 10px;
}
#orgs > li {
	border-radius: 10px;
	height:225px;
	padding: 20px;
	color: black;
	font-size: 20px;
	background-color: white;
	transition: background-color .2s ease-in-out;

}
.org-li {
	margin-bottom: 5px;
}
.org-name {
	position: relative;
	clear:both; 
	color: black;
	margin-bottom: 5px; 
	display: block;
}
.org-vision {
	margin-top: -7px;
}
.page_title {
	left:43%;
}
.org-continue:hover {
	color:black;
	text-decoration: none;
}
.org-continue {
	position: relative;
	float: right;
	clear: all;
	margin-top: 45px;
	font-size: 30px;
}
.org-details {
	list-style: none;
	margin: 0;
	width:70%;
	color: black;
	float:left;
	font-size: 18px;
	padding-left:10px;
}
#orgs > li > ul  {
	width:83%;
	white-space:normal;
}
.img-org {
	float:left;
}
.org-vision, .org-mission, .org-core {
	word-wrap:normal;
	width:70%;
}
a.right {
	float:right;
}
#wrapper > nav > ul.nav.navbar-right.top-nav > li > a {
		padding-top: 15px;
	}
@media only screen and (max-width : 768px) {
	.org-vision, .org-mission,.org-core {
		display: none;
	}
	.org-created {
		font-size: 15px;
		display:block;
	}
	#wrapper > nav > ul.nav.navbar-right.top-nav > li > a {
		padding-top: 13px;
	}
}
@media only screen and (max-width : 480px) {
	.org-continue {
		margin-top: -75px;
	}
	.top-nav>li>a {
	    padding-top: 15px;
	}
}
@media only screen and (max-width : 320px) {
    .top-nav>li>a {
	    padding-top: 10px;
	}  
}