/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#full-page {
    padding-left: 0;

}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-trig {
    display: initial !important;
}

#page-content-wrapper {
    width: 80%;
    position: absolute;
    padding: 15px;
}

#full-page.toggled {
    position: absolute;

}/* Sidebar Styles */


@media(min-width:768px) {

    #full-page.toggled {
        padding-left: 300px;
    }

    #sidebar-wrapper {
        width: 100%;
    }

    #full-page.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #full-page.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}