html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font: 12px 'Roboto', sans-serif;
}
svg {
    z-index: 50;
    height: inherit;
}
.close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    font-size: 15px;
}

.close-button:after {
    content: '×';
}

.metrics-popup,
#link-tooltip {
    position: absolute;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 4px black;
    width: 200px;
    z-index: 100;
    max-height: 300px;
    background-color: black;
    opacity: 0.85;
    color: white;
}
.metrics-popup {
    left: 20px;
    bottom: 20px;
}
.node-name,
#link-tooltip span {
    font-weight: bolder;
}
circle.node {
    cursor: pointer;
    stroke: #000;
    stroke-width: .5px;
}

.container-for-text {
    overflow: auto;
    max-height: 250px;
}

line.link {
    fill: none;
    stroke: #9ecae1;
}
/*.node {
    stroke: #FF6347;
    stroke-width: 1px;
}*/
.node {
    position: relative;
}
/*.node rect {
    position: absolute;
    top: 0;
    right: 0;
}*/
.node text {
    fill: black;
    stroke: #000000;
    stroke-width: 0.3px;
    pointer-events: none;
    /*position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;*/
}
.node .centrality-value {
    stroke:transparent;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#settings_icon {
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px #000;
}
#settings_icon > img {
    display: block;
    padding: 15px 10px;
    cursor: pointer;
}
/*#graph, #settings_panel {*/
    /*float: left;*/
/*}*/
#graph {
    overflow: auto;
}
#settings_panel {
    position: fixed;
    width: 299px;
    top: 5%;
    right: 7%;
    z-index: 2;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    box-shadow: 0 0 3px #000;
    display: none;
    max-height: 80%;
    overflow-y: auto;
}
#settings_panel .settings_title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    color: #a62627;
}

#settings_panel .settings_title span {
    display: inline-block;
    vertical-align: middle;
}
#settings_panel .settings_title span img {
    margin: 0 15px 0 0;
}
#settings_panel .block {
    padding: 20px;
}
#settings_panel .block > .title {
    font-size: 16px;
    cursor: pointer;
}
#settings_panel .block > .elements_wrap {
    display: none;
}
#settings_panel .block .element {
    margin: 0 0 10px;
    height: 35px;
    line-height: 35px;
}
#settings_panel .block .element label {
    display: inline-block;
    width: 180px;
}

#settings_panel .block .element input[type="range"] {
    width: 130px;
}
#settings_panel .block .element div.input_range {
    display: inline-block;
    width: 130px;
}
#settings_panel .ui-widget-header {
    background: #057af6;
}
#settings_panel  .ui-widget-content {
    background: #b6b6b6;
    border: none;
    height: 2px;
    border-radius: 2px;
}
#settings_panel .ui-state-default,
#settings_panel .ui-widget-content .ui-state-default,
#settings_panel .ui-widget-header .ui-state-default {
    width: 30px;
    height: 30px;
    background: url(../images/ios_slider.png);
    background-size: 100% 100%;
    border: none;
    border-radius: 0;
    top: -1.25em;
}
#settings_panel .ui-state-hover,
#settings_panel .ui-widget-content .ui-state-hover,
#settings_panel .ui-widget-header .ui-state-hover,
#settings_panel .ui-state-focus,
#settings_panel .ui-widget-content .ui-state-focus,
#settings_panel .ui-widget-header .ui-state-focus {
    border: none;
    background: url(../images/ios_slider.png);
    background-size: 100% 100%;
    border-radius: 0;
}
#settings_panel .cp_input {
    background: url(../images/select.png);
    width: 36px;
    height: 36px;
    position: relative;
}
#settings_panel .cp_input > div {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: -1;
    top: 3px;
    left: 3px;
}
#settings_panel .cpick > .element {
    width: 100%;
}
#settings_panel .cpick > .element,
#settings_panel .cpick > .element > label,
#settings_panel .cpick > .element > div {
    display: inline-block;
    vertical-align: middle;
}
#settings_panel .elements_wrap.cpick > label {
    margin: 20px;
}
#settings_panel .cpick > .element {
    line-height: inherit;
}
.sp-container {
    z-index: 3;
}
#settings_panel .block .element {
    position: relative;
}
/* version 3 */
.category-visibility {
    padding-left: 50px;
}

.timeline-container {
    overflow: hidden;
    padding: 25px;
    position: relative; 
    height: 75px;
}

#timeline {
    position: absolute;
    top:0px;
}

#timeline .ui-slider-handle {
    width: 30px;
    border-radius: 15px;
    margin-left: -14px;
    height: 30px;
    margin-top: -12px; 
}

.timeline-controlls {
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
}

.timeline-div {
    bottom: 0px;
    height:75px;
    width: 100%;
}

.timeline-div button {
    position: absolute;
}

.ticks div {
    color : white;
}

.button-left {
    position:absolute;
    left: 0;
    margin-top: 30px;
    margin-left: 50px;
}

.button-right {
    position:absolute;
    right: 0;
    margin-top: 30px;
    margin-right: 50px;
}