    <div id="graph-pop">
      <div class="popover-heading">
        <center>
          <h3>Analytics</h3>
        </center>
      </div>
      <div class="popover-body">
        <div class="accord-form">
          <span class="graph-lab">Prominant Nodes</span>
          <span style=+"float:right; color:#c47b7b;">
            <input type="checkbox" 
              ng-model='cmc.config.prominant' 
              ng-change='cmc.prominantMode(cmc.graph, cmc.config.prominant, cmc.config.activeCentrality)'
            class="checkbox-popover">
          </span>
          <center>
            <input  class='val hidden fill' id='r2'/>
            <input style="" type='range' class="nice-stepper"  
              ng-model='cmc.config.activeCentrality' 
              ng-change='cmc.changeActiveValue(cmc.graph, cmc.config.active, cmc.config.activeCentrality)'
              min='0' 
              step='1'
              max='{{cmc.config.maxCentrality}}'
              value='{{cmc.config.activeCentrality}}' />
          </center>
        </div>
        <div class="accord-form">
          <span class="graph-lab">Show Content</span>
          <span style="float:right; color:#c47b7b;">
            <input 
              ng-model='cmc.config.showContent' 
              ng-change='cmc.showContent()'
             type="checkbox" class="checkbox-popover">
          </span>
        </div>
      </div>
    </div>