<!DOCTYPE html>
<html lang="en" ng-app='conceptMap'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Enterprise Evolver - Set Up Organization Structure Categories</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel='stylesheet' href="bower_components/angularjs-slider/dist/rzslider.css" />
    <link href="css/concept-map.css" rel="stylesheet">

    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="css/sidebar.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">


    <link href="css/style-switches.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/build.css">
    <link rel='stylesheet' href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel='stylesheet' href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.min.css" />
    <link rel="stylesheet" type="text/css" href="css/custom-range.css">
    <script type="text/javascript" src='bower_components/angular/angular.min.js'></script>
    <script type="text/javascript" src='bower_components/angular-sanitize/angular-sanitize.min.js'></script>
    <script type='text/javascript' src='bower_components/angularjs-slider/dist/rzslider.js'></script>
    <script type="text/javascript" src='bower_components/angular-bootstrap/ui-bootstrap.js'></script>
    <script type="text/javascript" src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
    <script type="text/javascript" src='bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js'></script>

    <script type="text/javascript" src='js/controllers/application.js'></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" type='text/javascript'></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller='ConceptMapController as cmc'>
    <div id="wrapper">
    <div style="height:100%" id="graph"></div>

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" style="z-index:100" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <ul class="navbar-left" id="concept-left" style="white-space:nowrap; height: 100%; width: 70%;">
        <li>
          <a href="my-organizations.html" class="option-btn" style="font-size: 20px; color:#c47b7b;padding-top:20px;"> </a>
          <span id="menu-toggle-li">
            <a id="menu-toggle" class="option-btn"><i class="fa fa-bars"></i></a>
          </span>
        </li>
      </ul>
      <ul class="navbar-left hidden" id="insight-left" style="white-space:nowrap; height: 100%; width: 70%;">
        <li>
          <a id="menu-toggle" class="option-btn"><i class="fa fa-bars"></i></a>
        </li>
        <li data-ng-if='cmc.graph.onPause === true' ng-click='cmc.graph.startGraph()'>
          <a class="option-btn"><i class="fa fa-pause"></i></a>
        </li>
        <li data-ng-if='cmc.graph.onPause === false' ng-click='cmc.graph.stopGraph()'>
          <a class="option-btn"><i class="fa fa-play"></i></a>
        </li>
      </ul>
      <ul class="nav navbar-right top-nav">
        <li class="new-btn-r">
          <a href="#" id="share-btn" data-class="share-pop" data-uib-popover-template="'sharePopover.html'" data-popover-placement="bottom"  data-toggle="popover"><i class="fa fa-share-square-o"></i></a>
          <a href="set-up-organization-struct.html" class="option-btn"></a>
        </li>
        <li class="new-btn-r">
          <a href="#" id="graph-btn" data-class="graph-pop" data-uib-popover-template="cmc.popoverTemplate" data-popover-placement="bottom-right"  data-toggle="popover"><i class="fa fa-line-chart"></i></a>
          <a href="set-up-organization-struct.html" class="option-btn"></a>
        </li>
        <li class="new-btn-r">
          <a href="set-up-organization-struct.html" class="option-btn"><i class="fa fa-question-circle"></i></a>
        </li>
      </ul>
      <!-- Top Menu Items -->
      <span class="page_title">Concept Map</span>
      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <!-- /.navbar-collapse -->
      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    </nav>
    <div class="navbar-ex1-collapse">
      <div class="nav navbar-nav side-nav full-height sidebar-trig">
          
        <div  id="activity-role">

          <div data-ng-if='cmc.insightMode === true' data-ng-cloak class="panel-body">
            <div class="panel-head">
              <span id="act-role-head">Insight Analyzer</span>
              <span style="float: left; padding-right: 0px;">
              <a href="#" style="z-index:1000; float:left; padding-left:10px;position:relative; " data-toggle="popover"><a ng-click='cmc.backToEarth()'><i class="fa fa-chevron-left" ><span id="back-btn">Back</span></i></a></a>
              </span>
              <span style="float: right; padding-right: 0px;">
              <a href="#" data-toggle="modal" style="font-family: FontAwesome, Lato;background-color: transparent;; color:green; border:0" data-target="#settingsModel" ><i class="fa fa-cog"></i></a>
              </span>
            </div>

            <div class="panel-group" id="accordion9">
              <div class="panel">
                <div class="panel-heading">
                  <h4 data-ng-click='cmc.filterText = ""' class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion9" href="#collapse5">Items</a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="search-panel">
                    <input type="text" class="form-control" data-ng-change='cmc.filterItems(cmc.filterText)' data-ng-model='cmc.filterText' placeholder="&#xf002;">
                  </div>
                  <div data-ng-if='cmc.filterItemsMode === false' class="panel-body">
                    <div class="list-group" id="accordion10" style="margin: 0px">
                      <div ng-repeat='(key, children) in cmc.nodes' >
                        <div class="panel-heading">
                          <h4  class="items-group-title list-group-item">
                            <a data-toggle='collapse' class='collapsed' data-parent='#accordion10' href='{{ "#category-nodes-"+key }}'>{{ cmc.categories[key] }}</a>
                            <input type="checkbox" 
                              data-ng-model='cmc.categoriesVisibility[key]'
                              data-ng-change='cmc.changeCategoryVisibility(key,cmc.categoriesVisibility[key])'
                              >
                          </h4>
                        </div>
                        <div class="collapse panel-collapse list-group" id='{{ "category-nodes-"+key }}'>
                          <span class='item-list-item list-group-item' data-ng-repeat='node in children'>
                            {{ node.name }}
                            <input class='custom-panel-title' type="checkbox" style="margin-right: 3px; position:absolute; right:10px; padding: 10px;"
                              data-ng-model='node.active'
                              data-ng-change='cmc.changeNodesVisibility()'
                              >
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group" data-ng-if='cmc.filterItemsMode === true'>
                    <div class='item-list-item list-group-item' data-ng-repeat='node in cmc.plainNodes | filter:cmc.filterText' >
                      {{ node.name }}
                      <input class='custom-panel-title' type="checkbox" style="margin-right: 3px; position:absolute; right:10px; padding: 10px;"
                        data-ng-model='node.active'
                        data-ng-change='cmc.changeNodesVisibility()'>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <h4 data-ng-click='cmc.filterTagText = ""' class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion9" href="#collapse40">
                    Attributes and Links</a>
                  </h4>
                </div>
                <div id="collapse40" class="panel-collapse collapse">
                  <div class="search-panel">
                    <input type="text"  class="form-control" placeholder="&#xf002;"
                      data-ng-model='cmc.filterTagText'
                      >
                  </div>
                  <div class="search-panel" style="background-color: #ad383a; color: white; font-weight: normal; padding-top: 5px; padding-bottom: 5px;">
                    Group Nodes By Attributes
                    <input type="checkbox" style="margin-right: 3px; float: right; margin-top: 4px;"
                      data-ng-click='cmc.setAllAttrs(cmc.allAttrsSelected)'
                      data-ng-model='cmc.allAttrsSelected'>
                  </div>
                  <div class="panel-body">
                    <div data-ng-repeat='val in cmc.attrGroup | filter:cmc.filterTagText' class="check-group">
                      <span ng-if='val === ""'>
                      (no attribute)
                      </span>
                      <span ng-if='val !== ""'>
                      {{ val }}
                      </span>
                      <input 
                        data-ng-model='cmc.selectedAttrs[val]'
                        data-ng-change='cmc.attrMode(cmc.graph, cmc.selectedAttrs)'
                        type="checkbox" style="margin-right: 3px; float: right; margin-top: 0.5px;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <h4 data-ng-click='cmc.filterAttrText = ""' class="panel-title">
                    <a data-toggle="collapse"  data-parent="#accordion9" href="#collapse53">
                    Tags</a>
                  </h4>
                </div>
                <div id="collapse53" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="search-panel">
                      <input type="text"  class="form-control" placeholder="&#xf002;" 
                        data-ng-model='cmc.filterAttrText'>
                    </div>
                    <div class="search-panel" style="background-color: #ad383a; color: white; font-weight: normal; padding-top: 5px; padding-bottom: 5px;">
                      Group Nodes By Tags
                      <input 
                        data-ng-change='cmc.setAllTags(cmc.allTagsSelected)' 
                        data-ng-model='cmc.allTagsSelected'
                        type="checkbox" style="margin-right: 3px; float: right; margin-top: 4px;">
                    </div>
                    <div class="panel-body">
                      <div ng-repeat='val in cmc.tagsGroup | filter:cmc.filterAttrText' class="check-group">
                        {{ val }}
                        <input 
                          ng-model='cmc.selectedTags[val]'
                          ng-change='cmc.tagMode(cmc.graph, cmc.selectedTags)'
                          type="checkbox" style="margin-right: 3px; float: right; margin-top: 0.5px;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a id='detail-section-toogle' data-toggle="collapse" data-parent="#accordion9" href="#collapse-detail">
                    Detail Section</a>
                  </h4>
                </div>
                <div id='collapse-detail' class="panel-collapse collapse collapse-detail">
                  <div class="panel-body">
                    <div class="accord-form" data-ng-repeat='(key, value) in cmc.details'>
                      {{ key }}
                      <span style="float:right">
                        {{ value }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>      
        <div data-ng-if='cmc.insightMode === false' data-ng-cloak id="structure-group">
          <div id="back-to-org">
            <center>
              <a href="my-organizations.html">< My Organizations </a>
            </center>
          </div>
          <div class="panel-group" id="accordion">
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  Organization</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="folder-list">
                    <li class="folder-li no-trig">
                      <span class="folder-icon">
                      <i class="fa fa-folder-open"></i>
                      </span>
                      Configurator
                    </li>
                    <li class="folder-li no-trig">
                      <span class="folder-icon">
                      <i class="fa fa-database"></i>
                      </span>
                      Repository
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                  Insight Analyzer</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="panel-head">
                    Insight Analyzer
                    <span style="float: right">
                    <a ng-click="cmc.manageMode = true" onclick="runManage()">Manage</a>
                    </span>
                  </div>
                  <div class="search-panel">
                    <input type="text" class="form-control" placeholder="&#xf002;">
                  </div>
                  <ul class="folder-list">
                     
                  </ul>
                  <div class="panel-group" id="accordionfold">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title" style="color:black; ">
                          <a data-toggle="collapse" data-parent="#accordionfold" href="#collapse-fold-1">
                            <span class="folder-icon">
                            <i class="fa fa-folder"></i>
                            </span>
                            Groups
                          </a>
                        </h4>
                      </div>
                      <div id="collapse-fold-1" class="panel-collapse collapse">
                        <div class="panel-body">
                          <ul class="folder-list">
                            <li class="folder-li" ng-click='cmc.initInsightMode()' >
                              Activity. Role
                              <span class="folder-icon-actions">
                                <i class="fa fa-cheveron-left" data-ng-if='cmc.manageMode === false' data-ng-cloak></i>
                                <i class="fa fa-pencil-square-o" data-ng-if='cmc.manageMode === true' data-ng-cloak></i>
                                <i class="fa fa-trash" data-ng-if='cmc.manageMode === true' data-ng-cloak></i>
                              </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.navbar-collapse -->
      <div id="page-wrapper">
        <div class="container-fluid toggled" id="full-page">
          <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12 page-content">
              <!-- CONTENT GOES HERE -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <div class="hidden" id="inside-popover">
      <div class="popover-heading">
        <center>
          <span style="float:left">
          <a id="class-btn-pop" onclick="closeGraphPopover()">Close</a>
          </span>
          <span style="float:right">
          <a href"#" onclick="runARC()">Next</a>
          </span>
          <h3>Add New Graph</h3>
        </center>
      </div>
      <div class="popover-body">
        <label for="graph-name">Graph Name</label>
        <input type="text" placeholder="Graph Name" class="form-control" name="graph-name">
        <br>
        <label for="template-graph">Create From</label>
        <input type="button" class="" id="add-row-btn" data-toggle="modal" style="font-family: FontAwesome, Lato;background-color: transparent;; color:green; border:0" data-target="#myModal" value="Create From"></input>
        <br>
        <div class="heirarch-box-group">
          <label for="include-heir">Include Hierarchy in the graph:</label>
          <input type="checkbox" name="include-heir" id="chk-1" class="checkbox-popover">
        </div>
        <div class="heirarch-box-group">
          <label for="include-heir">Include Dependancy in the graph:</label>
          <input type="checkbox" name="include-heir" id="chk-1" class="checkbox-popover">
        </div>
      </div>
      
    <!-- This is the orignal ARC -->
    <div class="hidden" id="activity-role-graph-orig">
        <div class="panel-body">
          <div class="panel-head">
            Settings
            <span style="float: left; padding-right: 0px;">
            <a href="#" style="z-index:1000; float:left; padding-left:10px;position:relative; " data-toggle="popover"><a onclick="backToEarth()"<i class="fa fa-chevron-left" ><span id="back-btn">Back</span></i></a>
            </span>
          </div>
          
        </div>
      </div>
    </div>
    </div>

    <!-- END ORIG ARC -->
    <div class="hidden" id="edit-popover">
      <div class="popover-heading">
        <center>
          <span style="float:left">
          <a id="class-btn-pop" onclick="closeEditPopover()">Cancel</a>
          </span>
          <span style="float:right">
          <a href"#" onclick="closeEditPopover()">Done</a>
          </span>
          <h3>Edit Graph</h3>
        </center>
      </div>
      <div class="popover-body">
        <label for="graph-name">Graph Name</label>
        <input type="text" placeholder="Graph Name" class="form-control" name="graph-name">
        <br>
        <label for="template-graph">Created From</label>
        <input type="button" class="" id="add-row-btn" data-toggle="modal" style="font-family: FontAwesome, Lato;background-color: transparent;; color:green; border:0" data-target="#myModal" value="Create From"></input>
        <br>
        <div class="heirarch-box-group">
          <label for="include-heir">Include Hierarchy in the graph:</label>
          <input type="checkbox" name="include-heir" id="chk-1" class="checkbox-popover">
        </div>
        <div class="heirarch-box-group">
          <label for="include-heir">Include Dependancy in the graph:</label>
          <input type="checkbox" name="include-heir" id="chk-1" class="checkbox-popover">
        </div>
      </div>
      <div class="hidden" ng-if='cmc.manageMode' id="manage-insight">
        <div class="panel-body">
          <div class="panel-head">
            Insight Analyzer
            <span style="float: right; padding-right: 10px;">
            <a href="#" data-popover-content="#inside-popover" data-container="body" style="z-index:1000; position:relative" id="plus-over"data-toggle="popover"><i class="fa fa-plus"></i></a>
            </span>
          </div>
          <div class="search-panel">
            <input type="text" class="form-control" placeholder="&#xf002;">
          </div>
          <ul class="folder-list">
            <li class="folder-li">
              <a onclick="runARC()">
                Activity Role Graph
              </a>
            </li>
            <li class="folder-li">
              <a onclick="runARC()">
              Capability Activity
              <span class="folder-icon-actions">
              <i class="fa fa-pencil-square-o"></i>
              <i class="fa fa-trash"></i>
              </span>
            </li>
            <li class="folder-li">
              <a onclick="runARC()">
              Capability Network
              <span class="folder-icon-actions">
              <i class="fa fa-pencil-square-o"></i>
              <i class="fa fa-trash"></i>
              </span>
              </a>
            </li>
            <li class="folder-li">
              <a onclick="runARC()">
              Capability Network
              <span class="folder-icon-actions">
              <i class="fa fa-pencil-square-o"></i>
              <i class="fa fa-trash"></i>
              </span>
              </a>
            </li>
            <li class="folder-li">
              <a onclick="runARC()">
              Org Dep
              <span class="folder-icon-actions">
              <i class="fa fa-pencil-square-o"></i>
              <i class="fa fa-trash"></i>
              </span>
              </a>
            </li>
            <li class="folder-li">
              <a onclick="runARC()">
              Org Map
              <span class="folder-icon-actions">
              <i class="fa fa-pencil-square-o"></i>
              <i class="fa fa-trash"></i>
              </span>
              </a>
            </li>
            <li class="folder-li">
              <a onclick="runARC()">
              Outcome Graph
              <span class="folder-icon-actions">
              <i class="fa fa-pencil-square-o"></i>
              <i class="fa fa-trash"></i>
              </span>
              </a>
            </li>
            <li class="folder-li">
              <a onclick="runARC()">
              Role Activity Graph
              <span class="folder-icon-actions">
              <i class="fa fa-pencil-square-o"></i>
              <i class="fa fa-trash"></i>
              </span>
              </a>
            </li>
          </ul>
        </div>
      </div>


      
    </div>

    <div class="hidden" id="color-pop">
      <div class="popover-body">
        <div class="col-lg-4 col-md-3 col-sm-2">
          <div class="color-splotch-pop"></div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2">
          <div class="color-splotch-pop"></div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2">
          <div class="color-splotch-pop"></div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2">
          <div class="color-splotch-pop"></div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2">
          <div class="color-splotch-pop"></div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2">
          <div class="color-splotch-pop"></div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2">
          <div class="color-splotch-pop"></div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2">
          <div class="color-splotch-pop"></div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2">
          <div class="color-splotch-pop"></div>
        </div>
      </div>
    </div>
     <div class="hidden" id="share-pop">
      <div class="popover-body">
        <div class="share-form">
          <i class="fa fa-print"></i> Print
          
        </div>
        <div class="share-form">
          <i class="fa fa-file-pdf-o"></i> Email PDF
          
        </div>
        <div class="share-form">
          <i class="fa fa-envelope-o"></i> Email Screenshot
          
        </div>
      </div>
    </div>




<div id="settingsModel" class="modal fade" role="dialog" style="overflow-y: scroll;">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Settings</h4>
          </div>
          <div class="modal-body">
            <div class="panel-group" id="accordion3">
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion3" href="#collapse3">
                    Layout and Size</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="node-size">
                      <h4>Node Size</h4>
                      <input style="" ng-model='cmc.config.nodeSize' ng-change='cmc.changeMetric("nodeSize",cmc.config.nodeSize, cmc.graph)' type='range' class="nice-stepper" min='200' max='10000' value='1' step='2'/>
                    </div>
                    <div class="font-size">
                      <h4>Font Size</h4>
                      <input style="" ng-model='cmc.config.fontSize' ng-change='cmc.changeMetric("fontSize", cmc.config.fontSize, cmc.graph)' type='range' class="nice-stepper" min='1' max='20' value='1' step='2'/>
                    </div>
                    <div class="link-width">
                      <h4>Link Width</h4>
                      <input style="" type='range' class="nice-stepper" ng-model='cmc.config.linkWidth' min='1' ng-change='cmc.changeMetric("linkWidth",cmc.config.linkWidth, cmc.graph)' max='20' value='1' step='2'/>
                    </div>
                    <div class="link-length">
                      <h4>Link Length</h4>
                      <input style="" type='range' class="nice-stepper" ng-model='cmc.config.linkDistance' ng-change='cmc.changeMetric("linkDistance",cmc.config.linkDistance, cmc.graph)' min='1' max='200' value='1' step='2'/>
                    </div>
                    <div class="">
                      <h4>Node Charge</h4>
                      <input style="" type='range' class="nice-stepper" ng-change='cmc.changeMetric("charge", cmc.config.charge, cmc.graph)' ng-model='cmc.config.charge' min='1' max='1000' value='100' step='2'/>
                    </div>
                    <div class="link-gravity">
                      <h4>Gravity</h4>
                      <input style="" type='range' class="nice-stepper" ng-change='cmc.changeMetric("gravity",cmc.config.gravity, cmc.graph)' ng-model='cmc.config.gravity' min='1' max='100' value='1' step='2'/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion3" href="#collapse400">
                    Parts & Colors</a>
                  </h4>
                </div>
                <div id="collapse400" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="accord-form" ng-repeat='(id, category) in cmc.categories'>
                      {{ category }}
                      <span style="float:right" class="right-accord-settings">
                        <input type="checkbox" style="right: 120px; position:absolute; float: right; padding: 10px;"
                          data-ng-model='cmc.categoriesVisibility[id]'
                          data-ng-change='cmc.changeCategoryVisibility(id,cmc.categoriesVisibility[id])'>
                        <button data-colorpicker class='color-select-button' type="button" data-colorpicker-position="top" data-ng-style='{"background-color": cmc.colors[id]}' data-ng-change='cmc.changeColors(id)' data-ng-model='cmc.colors[id]'  ></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>                                    

            </div>
            <script type="text/javascript">
              
              $("a,button,input").click(function () {
                $("[data-toggle=popover]").not(this).popover('hide');
              });
            </script>
          </div>
        </div>
      </div>
    </div>


    <div ng-if='cmc.insightMode === true' id="footer" >
      <div class="col-lg-2">
        <span style="position: absolute; top:15px; color:white;">
          Time Machine 
          <a href="#" data-popover-content="#filter-pop" 
            data-uib-popover-template="'filterPopover.html'"
            data-container="body" data-placement="top" style="z-index:1000; position:relative" id="filter-btn" data-toggle="popover"><i class="fa fa-filter" style="color:white;"></i></a>
        </span>
      </div>
      <div class="col-lg-10">
        <div class="timeline-div">
          <div class="button-left" data-ng-click='cmc.shiftLeft()'>
            <svg width="20px" height="20px">
                <g style="stroke-width: 2px; stroke: white;">
                    <line x1="0" y1="10" x2="18" y2="20"></line>
                    <line x1="0" y1="10" x2="18" y2="0"></line>
                    <line x1="18" y1="20" x2="18" y2="0"></line>
                </g>
            </svg>
          </div>
          <div class="button-right" data-ng-click='cmc.shiftRight()'>
            <svg width="20px" height="20px">
                <g style="stroke-width: 2px; stroke: white;">
                    <line x1="18" y1="10" x2="0" y2="20"></line>
                    <line x1="18" y1="10" x2="0" y2="0"></line>
                    <line x1="0" y1="20" x2="0" y2="0"></line>
                </g>
            </svg>
          </div>
          <div class="timeline-controlls">
            <div class="timeline-container" >
              <div id='timeline'
                  data-ng-style='cmc.timeline.style'>
                <rzslider 
                  rz-slider-model="cmc.timeline.values[0]"
                  rz-slider-high="cmc.timeline.values[1]"
                  rz-slider-options="cmc.timeline.options"
                  rz-slider-tpl-url='partials/timeline.html'></rzslider>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Please Check All that apply</h4>
          </div>
          <div class="modal-body">
            <div class="panel-group" id="accordionmodel">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" style="color:white;">
                    <a data-toggle="collapse" data-parent="#accordionmodel" href="#collapse-mo-1">
                    Business Context</a>
                  </h4>
                </div>
                <div id="collapse-mo-1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" style="color:white;">
                    <a data-toggle="collapse" data-parent="#accordionmodel" href="#collapse-mo-2">
                    Organization Resources</a>
                  </h4>
                </div>
                <div id="collapse-mo-2" class="panel-collapse collapse">
                  <div class="panel-body">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Save & Close</button>
          </div>
        </div>
      </div>
    </div>
    <script type='text/javascript' src='bower_components/d3/d3.min.js'></script>
    <script type="text/javascript" src='js/controllers/concept_map.controller.js'></script>
    <!-- jQuery -->

    
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
<!--        <script type="text/javascript" src="bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
    <script type='text/javascript' src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script> 
    <script src="js/data.json"></script>
    <script src="js/graph.js" type='text/javascript'></script>
    <!--<script src="js/main.js" type='text/javascript'></script>-->
    <script src="js/timeline.js" type='text/javascript'></script>

    <script type="text/ng-template" id='sharePopover.html'>
      <div id="share-pop">
        <div class="popover-body">
          <div class="share-form">
            <i class="fa fa-print"></i> Print
          </div>
          <div class="share-form">
            <i class="fa fa-file-pdf-o"></i> Email PDF
          </div>
          <div class="share-form">
            <i class="fa fa-envelope-o"></i> Email Screenshot               
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id='filterPopover.html'>
      <div id="filter-pop" class='click-out' style='width: 175px; color:black;'>
        <div class="popover-body">
          <div class="accord-form">
            Start Year
            <span style="float:right; color:#c47b7b;">
              <select class="form-control" ng-value='cmc.startYear' data-ng-change='cmc.changeRange(cmc.startYear, cmc.endYear)' data-ng-model='cmc.startYear'>
                <option data-ng-repeat='year in cmc.years' data-ng-if='year < cmc.endYear' value='{{ year }}'>{{ year }}</option>
              </select>
            </span>
          </div>
          <div class="accord-form" style="padding-top: 20px;">
            End Year
            <span style="float:right; color:#c47b7b;">
              <select class="form-control" data-ng-model='cmc.endYear' data-ng-change='cmc.changeRange(cmc.startYear, cmc.endYear, cmc.timelineMode)'>
                <option data-ng-repeat='year in cmc.years' data-ng-if='year > cmc.startYear' value='{{ year }}'>{{ year }}</option>
              </select>
            </span>
          </div>
          <div class="accord-form" style="padding-top: 20px;
          padding-bottom: 20px;">
            Steps
            <span style="float:right; color:#c47b7b;">
              <select data-ng-model='cmc.timelineMode' data-ng-change='cmc.changeRange(cmc.startYear, cmc.endYear, cmc.timelineMode)' class="form-control">
                <option value='monthly'>Months</option>
                <option value='quarter'>Quarters</option>
              </select>
            </span>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id='graphPopover.html'>
      <div id="graph-pop" class='click-out' style='width: 300px'>
        <div class="popover-heading">
          <center>
            <h3>Analytics</h3>
          </center>
        </div>
        <div class="popover-body">
          <div class="accord-form">
            <span class="graph-lab">Prominant Nodes</span>
            <span style=+"float:right; color:#c47b7b;">
              <input type="checkbox" 
                ng-model='cmc.config.prominant' 
                ng-change='cmc.prominantMode(cmc.graph, cmc.config.prominant, cmc.config.activeCentrality)'
              class="checkbox-popover">
            </span>
            <center>
              <input style="" type='range' class="nice-stepper"  
                ng-model='cmc.config.activeCentrality' 
                ng-change='cmc.changeActiveValue(cmc.graph, cmc.config.prominant, cmc.config.activeCentrality)'
                min='0' 
                step='1'
                max='{{cmc.config.maxCentrality}}'
                value='{{cmc.config.activeCentrality}}' />
            </center>
          </div>
          <div class="accord-form">
            <span class="graph-lab">Show Content</span>
            <span style="float:right; color:#c47b7b;">
              <input 
                ng-model='cmc.config.showContent' 
                ng-change='cmc.showContent(cmc.graph, cmc.config.showContent)'
               type="checkbox" class="checkbox-popover">
            </span>
          </div>
        </div>
      </div>
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js" type='text/javascript'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.min.js"></script>
    <script type="text/javascript">
      var mySlider = $("input.slider").slider();
    </script>
    <script>
    // Prevent events from getting pass .popup
      var hidePopovers = function(e) {
        $('.popover').each(function() {
          if(!$.contains(this, e.target)) {
            var elementScope = angular.element($(this)).scope().$parent;
            if(elementScope.isOpen) {
              elementScope.isOpen = false;
              elementScope.$apply();            
            }
          }
        });
      };

      $(document).on('click', hidePopovers);

      function runManage() {
        $('#collapse2').css("position", "absolute");
        $('#collapse2').animate({"margin-left": '-=1000'}, "fast",function() {
          /*$('#collapse2').html($("#manage-insight").html());*/
          $('#collapse2').animate({"margin-left": '+=1000'}, "fast", function(){
            if (matchMedia('only screen and (max-width: 769px)').matches) {
              $("[data-toggle=popover]").popover({
                container: 'body',
                html : true,
                content: function() {
                  var content = $(this).attr("data-popover-content");
                  return $(content).children(".popover-body").html();
                },
                placement : 'left',
                title: function() {
                  var title = $(this).attr("data-popover-content");
                  return $(title).children(".popover-heading").html();
                }
              });
            } else {
              $("[data-toggle=popover]").popover({
                container: 'body',
                html : true,
                
                content: function() {
                  var content = $(this).attr("data-popover-content");
                  return $(content).children(".popover-body").html();
                },
                placement : 'right',
                title: function() {
                  var title = $(this).attr("data-popover-content");
                  return $(title).children(".popover-heading").html();
                }
              });
            }
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
      
            elems.forEach(function(html) {
              var switchery = new Switchery(html);
            });
            $('#collapse2').css("position", "relative");
          });
      
        });
        
        
      }
      document.querySelector('.nice-stepper').addEventListener('input', function() {
      this.setAttribute('value', this.value);
      });
      
      function runARC() {
        $('.side-nav').css("position", "absolute");
        $("#plus-over").popover("hide");
        $('.side-nav').animate({"margin-left": '-=1000'}, "fast",function() {
          //$('.side-nav').html($("#activity-role").html());
          
          $('.side-nav').animate({"margin-left": '+=1000'}, "fast", function(){
            /*$("[data-toggle=popover]").popover({
              container: 'body',
              html : true,
              content: function() {
                var content = $(this).attr("data-popover-content");
                return $(content).children(".popover-body").html();
              },
      
              title: function() {
                var title = $(this).attr("data-popover-content");
                return $(title).children(".popover-heading").html();
              }
            });*/
            
            $("#insight-left").toggleClass("hidden");
            $("#concept-left").toggleClass("hidden");
            $("#footer").removeClass("hidden");
            $(".fa-bars").click(function(e) {
                e.preventDefault();
                $("#full-page").toggleClass("toggled");
                $(".side-nav").toggleClass("sidebar-trig");
                $(".navbar-left").toggleClass("triggered");
            });
            $(".folder-li").on("click", function(){runARC()});
          });
      
        });
        
        
      }
      function closeOtherPopovers() {

      }

      function closeGraphPopover() {
        $("#plus-over").popover("hide");
        
        
      }
      function closeEditPopover() {
        $(".edit-over").popover("hide");
        
        
      }
      function backToEarth() {
        $('.side-nav').css("position", "absolute");
        $('.side-nav').animate({"margin-left": '-=1000'}, "fast",function() {
          //$('.side-nav').html($("#structure-group").html());
          $('.side-nav').animate({"margin-left": '+=1000'}, "fast", function(){

          });
          $("#insight-left").toggleClass("hidden");
          $("#concept-left").toggleClass("hidden");
          $("#footer").addClass("hidden");
          //$("#filter-btn").popover('hide');
        });
      }
      
      
      (function($) {
      $.fn.clickToggle = function(func1, func2) {
      var funcs = [func1, func2];
      this.data('toggleclicked', 0);
      this.click(function() {
      var data = $(this).data();
      var tc = data.toggleclicked;
      $.proxy(funcs[tc], this)();
      data.toggleclicked = (tc + 1) % 2;
      });
      return this;
      };
      }(jQuery));
      $(".slideTwo input").on("click", function() {
        $(".slideTwo input").clickToggle(function() {
          $(".slideTwo input").attr('checked', true);
        }, function() {
          $(".slideTwo input").attr('checked', false);
        })
      });
      
    </script>
    <script type="text/javascript">
      $('.list-group.checked-list-box .list-group-item').each(function () {
        
        // Settings
        var $widget = $(this),
          $checkbox = $('<input type="checkbox" class="hidden" />'),
          color = ($widget.data('color') ? $widget.data('color') : "primary"),
          style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
          settings = {
            on: {
              icon: 'glyphicon glyphicon-check'
            },
            off: {
              icon: 'glyphicon glyphicon-unchecked'
            }
          };
          
        $widget.css('cursor', 'pointer')
        $widget.append($checkbox);
      
        // Event Handlers
        $widget.on('click', function () {
          $checkbox.prop('checked', !$checkbox.is(':checked'));
          $checkbox.triggerHandler('change');
          updateDisplay();
        });
        $checkbox.on('change', function () {
          updateDisplay();
        });
          
      
        // Actions
        function updateDisplay() {
          var isChecked = $checkbox.is(':checked');
      
          // Set the button's state
          $widget.data('state', (isChecked) ? "on" : "off");
      
          // Set the button's icon
          $widget.find('.state-icon')
            .removeClass()
            .addClass('state-icon ' + settings[$widget.data('state')].icon);
      
          // Update the button's color
          if (isChecked) {
            $widget.addClass(style + color + ' active');
          } else {
            $widget.removeClass(style + color + ' active');
          }
        }
      
        // Initialization
        function init() {
          
          if ($widget.data('checked') == true) {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
          }
          
          updateDisplay();
      
          // Inject the icon if applicable
          if ($widget.find('.state-icon').length == 0) {
            $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span>');
          }
        }
        init();
      });
        
    </script>
    <script type="text/javascript">
      $(document).ready(function(){

        $(".folder-li:not('.no-trig')").on("click", function(){runARC()});
        $("[data-toggle=popover]").popover({
              container: 'body',
              html : true,
              content: function() {
                var content = $(this).attr("data-popover-content");
                return $(content).children(".popover-body").html();
              },
      
              title: function() {
                var title = $(this).attr("data-popover-content");
                return $(title).children(".popover-heading").html();
              }
            });
        $("[data-toggle=popover]").click(function () {
          $("[data-toggle=popover]").not(this).popover('hide');
        });
      });
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#full-page").toggleClass("toggled");
          $(".side-nav").toggleClass("sidebar-trig");
      });
      $(".sidebar-link").click(function(e) {
        e.preventDefault();
        $("#full-page").toggleClass("toggled");
        $(".side-nav").toggleClass("sidebar-trig");
      });
      $("#share-btn").on("show.bs.popover", function(){ $(this).data("bs.popover").tip().css("max-width", "300px"); });
      //$("#filter-btn").on("show.bs.popover", function(){ $(this).data("bs.popover").tip().css("max-width", "200px"); });
       $("#graph-btn").on("show.bs.popover", function(){ $(this).data("bs.popover").tip().css("max-width", "300px"); });
    </script>
    <script type="text/javascript"> 
      $(document).ready(function(){
        $("[data-toggle=popover]").click(function () {
          $("[data-toggle=popover]").not(this).popover('hide');
        });
        $('#toggle_event_editing button').click(function(){
          if($(this).hasClass('locked_active') || $(this).hasClass('unlocked_inactive')){
            /* code to do when unlocking */
          }else{
            /* code to do when locking */

          }
          
          /* reverse locking status */
          $('#toggle_event_editing button').eq(0).toggleClass('locked_inactive locked_active btn-default btn-info');
          $('#toggle_event_editing button').eq(1).toggleClass('unlocked_inactive unlocked_active btn-info btn-default');
        });
      });
      
    </script>

  </body>
</html>